footer {
    justify-content: center;
    background-color: #9A2540;
    color: white;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}
.footer-item{
    display:flex;
    flex-direction: row;
}

.footer-item h4 {
    border-bottom: 1px solid #df8881;
    padding-bottom: 20px;
    display: flex;
    
}

.content {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}

.footer-item nav a {
    text-decoration: none;
    color: white;
    padding: 6px 0;

}

.footer-item nav a:hover {
    background-color: #5b1e2c;

}

.footer-subs {
    display: flex;
    flex-direction: column;

}

.footer-subs form {
    display: flex;
    width: 100%;
    margin: auto 0px;
    padding: 6px 0;
}

.footer-subs input[type="text"],
.footer-subs input[type="submit"] {
    border: none;
    padding: 5px 10px;
}

.footer-subs input[type="text"] {
    width: 0;
    flex-grow: 1;
}

.footer-subs input[type="submit"] {
    color: #9a2540;
    background-color: #fcdde2;
}

.footer-subs input[type="submit"]:hover {
    background-color: #5b1e2c;
    color: white;
}

.conpyright {
    background-color: #5b1e2c;
    color: white;
    text-align: center;
}