.boxxx h4{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.box{
    display: flex;
    
}
.card-img-top{
    margin-left: 50px;

}
.box2{
    display: flex;
    
}
.box3{
    display: flex;
    margin-left: 120px;
    margin-top: 90px;
   flex-wrap: wrap;
}
.btn{
    width: 350px;
    height: 40px;
    margin-left: 30px;
}
.box3 p{
    text-align: left;
    margin: 3px;
    font-size: 26px;
}